.projects {
  background-color: var(--gray-500);
  padding-block: 72px 144px;
}

.projects img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
  display: block;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
  gap: 24px;
}

.project-card {
  background-color: var(--gray-400);
  border-radius: 12px;
  padding: 12px;
  border: 1px solid var(--gray-400);
}

.project-card:hover {
  transform: translateY(-10px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-color: var(--gray-300);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-info {
  padding: 4px;
}