.services {
  background-color: var(--gray-600);
  padding-block: 88px 120px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  justify-content: center;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 155px;
  height: auto;
  background-color: var(--gray-500);
  border-radius: 12px;
  border: 1px solid var(--gray-400);
  padding: 20px;
  gap: 20px;
}

.card .header{
  align-items: flex-start;
  margin-bottom: 0;
}

.card img {
  width: 48px;
  height: auto;
}



