.subtitle {
  font: var(--subtitle);
  color: var(--red);
}

.title-md {
  font: var(--title-md);
  color: var(--gray-100);
}

.title-sm {
  font: var(--title-sm);
  color: var(--gray-100);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-200);
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}